:root {
  /* Monotone Palette */
  --color-white: #fff;
  --color-whitesmoke: whitesmoke;
  --color-light-gray: #f5f5f5;
  --color-silver: silver;
  --color-silver-dark: darkgray;
  --color-accent-lightgray: lightgray;
  --color-accent-lightgrey: lightgrey;
  --color-accent-lightslategray: lightslategray;
  --color-accent-lightslategrey: lightslategrey;
  --color-accent-slategray: slategray;
  --color-accent-slategrey: slategrey;
  --color-medium-gray: #888;
  --color-gray: gray; /* grey */
  --color-dimgray: dimgray;
  --color-dark-gray: #333;
  --color-black: #000;

  /* Linear Color */
  --linear-red: linear-gradient(90deg, red, #fbe7e7);
  --linear-gold: linear-gradient(90deg, gold, #fff4cc);
  --linear-pink: linear-gradient(90deg, pink, #ffdbea);
  --linear-multi: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  /* Accent Color */
  --color-accent-mistyrose: mistyrose;
  --color-accent-red: red;
  --color-accent-crimson: crimson;
  --color-accent-darkred: darkred;
  --color-accent-green-indianredn: indianred;
  --color-accent-lightpink: lightpink;
  --color-accent-pink: pink;
  --color-accent-lightcoral: lightcoral;
  --color-accent-palevioletred: palevioletred;
  --color-accent-hotpink: hotpink;
  --color-accent-mediumvioletred: mediumvioletred;
  --color-accent-deeppink: deeppink;
  --color-accent-linen: linen;
  --color-accent-khaki: khaki;
  --color-accent-darkkhaki: darkkhaki;
  --color-accent-olive: olive;
  --color-accent-darkolivegreen: darkolivegreen;
  --color-accent-honeydew: honeydew;
  --color-accent-lightyellow: lightyellow;
  --color-accent-wheat: wheat;
  --color-accent-lightgoldenrodyellow: lightgoldenrodyellow;
  --color-accent-palegoldenrod: palegoldenrod;
  --color-accent-yellow: yellow;
  --color-accent-gold: gold;
  --color-accent-goldenrod: #a07710;
  --color-accent-darkgoldenrod: darkgoldenrod;
  --color-accent-darkorange: darkorange;
  --color-accent-orange: orange;
  --color-accent-coral: coral;
  --color-accent-darksalmon: darksalmon;
  --color-accent-orangered: orangered;
  --color-accent-tomato: tomato;
  --color-accent-gainsboro: gainsboro;
  --color-accent-floralwhite: floralwhite;
  --color-accent-cornsilk: cornsilk;
  --color-accent-ivory: ivory;
  --color-accent-beige: beige;
  --color-accent-antiquewhite: antiquewhite;
  --color-accent-blanchedalmond: blanchedalmond;
  --color-accent-bisque: bisque;
  --color-accent-seashell: seashell;
  --color-accent-snow: snow;
  --color-accent-ghostwhite: ghostwhite;
  --color-accent-oldlace: oldlace;
  --color-accent-lemonchiffon: lemonchiffon;
  --color-accent-papayawhip: papayawhip;
  --color-accent-moccasin: moccasin;
  --color-accent-navajowhite: navajowhite;
  --color-accent-peachpuff: peachpuff;
  --color-accent-tan: tan;
  --color-accent-rosybrown: rosybrown;
  --color-accent-burlywood: burlywood;
  --color-accent-sandybrown: sandybrown;
  --color-accent-lightsalmon: lightsalmon;
  --color-accent-salmon: salmon;
  --color-accent-peru: peru;
  --color-accent-indianred: indianred;
  --color-accent-chocolate: chocolate;
  --color-accent-sienna: sienna;
  --color-accent-saddlebrown: saddlebrown;
  --color-accent-brown: brown;
  --color-accent-firebrick: firebrick;
  --color-accent-maroon: maroon;
  --color-accent-lavender: lavender;
  --color-accent-lavenderblush: lavenderblush;
  --color-accent-thistle: thistle;
  --color-accent-plum: plum;
  --color-accent-violet: violet;
  --color-accent-blueviolet: blueviolet;
  --color-accent-fuchsia: fuchsia; /* magenta */
  --color-accent-purple: purple;
  --color-accent-darkmagenta: darkmagenta;
  --color-accent-darkorchid: darkorchid;
  --color-accent-indigo: indigo;
  --color-accent-orchid: orchid;
  --color-accent-darkviolet: darkviolet;
  --color-accent-rebeccapurple: rebeccapurple;
  --color-accent-mediumorchid: mediumorchid;
  --color-accent-mediumpurple: mediumpurple;
  --color-accent-slateblue: slateblue;
  --color-accent-mediumslateblue: mediumslateblue;
  --color-accent-darkslateblue: darkslateblue;
  --color-accent-greenyellow: greenyellow;
  --color-accent-yellowgreen: yellowgreen;
  --color-accent-palegreen: palegreen;
  --color-accent-lightgreen: lightgreen;
  --color-accent-springgreen: springgreen;
  --color-accent-lawngreen: lawngreen;
  --color-accent-forestgreen: forestgreen;
  --color-accent-darkseagreen: darkseagreen;
  --color-accent-lime: lime;
  --color-accent-chartreuse: chartreuse;
  --color-accent-limegreen: limegreen;
  --color-accent-green: #02b802;
  --color-accent-green-dark: green;
  --color-accent-green-darkgreen: darkgreen;
  --color-accent-olivedrab: olivedrab;
  --color-accent-mediumspringgreen: mediumspringgreen;
  --color-accent-mediumaquamarine: mediumaquamarine;
  --color-accent-mediumseagreen: mediumseagreen;
  --color-accent-seagreen: seagreen;
  --color-accent-aquamarine: aquamarine;
  --color-accent-lightseagreen: lightseagreen;
  --color-accent-aqua: aqua; /* cyan */
  --color-accent-darkturquoise: darkturquoise;
  --color-accent-cadetblue: cadetblue;
  --color-accent-mediumturquoise: mediumturquoise;
  --color-accent-turquoise: turquoise;
  --color-accent-darkcyan: darkcyan;
  --color-accent-teal: teal;
  --color-silver-darkslategray: darkslategray;
  --color-accent-mintcream: mintcream;
  --color-accent-azure: azure;
  --color-accent-aliceblue: aliceblue;
  --color-accent-lightcyan: lightcyan;
  --color-accent-lightblue: lightblue;
  --color-accent-lightsteelblue: lightsteelblue;
  --color-accent-paleturquoise: paleturquoise;
  --color-accent-powderblue: powderblue;
  --color-accent-skyblue: skyblue;
  --color-accent-deepskyblue: deepskyblue;
  --color-accent-lightskyblue: lightskyblue;
  --color-accent-cornflowerblue: cornflowerblue;
  --color-accent-steelblue: steelblue;
  --color-accent-royalblue: royalblue;
  --color-accent-dodgerblue: dodgerblue;
  --color-accent-blue: blue;
  --color-accent-mediumblue: mediumblue;
  --color-accent-navy: navy;
  --color-accent-darkblue: darkblue;
  --color-accent-midnightblue: midnightblue;
  --color-accent-theme: #c4a604;
  --color-accent: #c4a604;

  /* Semantic Colors */
  --color-background: var(--color-white);
  --color-background-accent: var(--color-accent);
  --color-background-overlay: var(--color-black);
  --color-background-pagination: var(--color-accent-goldenrod);
  --color-background-toc: var(--color-accent-goldenrod);
  --color-background-footer: var(--color-white);
  --color-surface: var(--color-light-gray);
  --color-text-primary: var(--color-black);
  --color-text-title: var(--color-black);
  --color-text-pagination: var(--color-black);
  --color-text-toc: var(--color-white);
  --color-text-footer: var(--color-black);
  --color-text-secondary: var(--color-dark-gray);
  --color-text-muted: var(--color-medium-gray);
  --color-border: var(--color-medium-gray);
  --color-huatou: var(--color-accent-goldenrod);
}

:root,
html[data-theme="light"] {
  --gallery-background: #f2f5ec;
  --gallery-foreground: #353538;
  --gallery-accent: #1158d1;
  --gallery-muted: #bbc789;
  --gallery-border: #7cadff;
}

html[data-theme="dark"] {
  --gallery-background: #10131a;
  --gallery-foreground: #f6f7f8;
  --gallery-accent: #008fec;
  --gallery-muted: #212f3f;
  --gallery-border: #2264e3;
}

/* Color Variables */

/* Dark Mode Theme */

[data-theme="dark"] {
  /* Monotone Palette - Dark Mode */
  --color-background: #0a0a0a;
  --color-text-title-accent: var(--color-accent);
  --color-background-pagination: #ecf2f8;
  --color-background-toc: var(--color-white);
  --color-background-footer: var(--color-white);
  --color-surface: #1a1a1a;
  --color-text-primary: #f5f5f5;
  --color-text-title: var(--color-accent-gold);
  --color-text-pagination: #ecf2f8;
  --color-text-toc: var(--color-black);
  --color-text-footer: #ecf2f8;
  --color-text-secondary: #b8b8b8;
  --color-text-muted: #888;
  --color-border: #333;
  --color-accent: var(--color-accent-gold); /* Slightly brighter red for dark mode */
}